- current_charge = nil
.container
  .row
    .col-xs-12.col-sm-12
      %h1.index-title
        Viajes presidenciales
      %br
      .table-responsive
        %table.table.table-striped
          %thead
            %tr
              %th{ rowspan: 2}
                Funcionario
              %th{ rowspan: 2}
                Cargo
              %th{ rowspan: 2}
                Período
              -#
                %th{ rowspan: 2}
                  Viajes
              %th{ colspan: @dim_sources.count, class: 'centered' }
                Fuente
              %th{ rowspan: 2 }
                Total
            %tr
              - @dim_sources.each do |dim_source|
                %th.centered.data{ title: dim_source.source }
                  = dim_source.acronym

            - @dim_actors.each do |dim_actor|
              - change_charge  = true if !current_charge.nil? && dim_actor.charge != current_charge
              - current_charge = dim_actor.charge
              - travels = dim_actor.fact_travels.competent.distincts

              - if change_charge
                %tr
                  %td.separator{ colspan: 4 + @dim_sources.count }
              %tr{ class: action_name == 'show' && params[:dim_actor_id].to_i == dim_actor.id ? 'selected' : 'warning' }
                %td{ id: "a#{dim_actor.id}" }
                  = dim_actor.name
                %td
                  = dim_actor.charge
                %td
                  = dim_actor.period
                -#
                  %td
                    = travels.length

                - @dim_sources.each do |dim_source|
                  %td.centered
                    = link_to travel_url(dim_actor.id, dim_source.id, anchor: "a#{dim_actor.id}") do
                      - if dim_source.id == 3
                        = FactTravel::MIGRATION[dim_actor.id]
                      - else
                        = dim_source.fact_travels.competent.actor_id(dim_actor.id).count
                %td
                  = dim_actor.fact_travels.competent.where.not(dim_source_id: 3).count + FactTravel::MIGRATION[dim_actor.id]
              - if action_name == 'show' && params[:dim_actor_id].to_i == dim_actor.id
                %tr
                  %td.no-padding{ colspan: 4 + @dim_sources.count }
                    %table.table
                      %thead
                        %tr
                          %th
                            Destino
                          %th
                            Fecha
                          %th
                            Detalles
                          - @dim_sources.each do |dim_source|
                            %th.centered.data{ title: dim_source.source }
                              = link_to travel_url(dim_actor.id, dim_source.id, anchor: "a#{dim_actor.id}"), class: (params[:dim_source_id].to_i == dim_source.id ? 'selected' : nil) do
                                = dim_source.acronym

                      - @fact_travels.each do |travel|
                        %tr
                          %td
                            %ul
                              - if travel.dim_destinations.any?
                                - travel.dim_destinations.each do |destination|
                                  %li
                                    = destination.name
                              - else
                                N/A
                          %td.nowrap
                            = travel.departure_date
                            \-
                            = travel.arrival_date
                          %td.small
                            = simple_format travel.details
                          - @dim_sources.each do |dim_source|
                            %td.centered
                              - if travels.where(dim_source_id: dim_source.id).overlapping(travel).exists?
                                %span.text-green.glyphicon.glyphicon-ok
                              - else
                                %span.text-red.glyphicon.glyphicon-remove
