%footer
  .container
    .row
      .col-xs-12.col-sm-4.col-md-3
        = image_tag 'gobierno-de-el-salvador.jpg'
      .col-xs-12.col-sm-4.col-md-4
        %p.contact-info
          Presidencia de la República de El Salvador
          %br
          Alameda Dr. Enrique Araujo, No. 5500.
          %br
          San Salvador, El Salvador, CA.
          %br
          Tel. +(503)2133-7500 | Email. info@gobiernoabierto.gob.sv
      .col-xs-12.col-sm-4.col-md-4
        .footer-cc-logo
          = image_tag 'icon-cc.png'
        %p.contact-info
          Gobierno Abierto by Secretaría de Participación Ciudadana,
          Transparencia y Anticorrupción is licensed under a Creative Commons
          %br
          Reconocimiento-CompartirIgual 4.0 Internacional License.
      .col-xs-12.col-sm-12.col-md-1
        .social
          = link_to 'https://www.facebook.com/GobiernoAbiertoSV', target: '_blank' do
            = image_tag 'icon-facebook.png'
          = link_to 'https://twitter.com/GobAbiertoSV', target: '_blank' do
            = image_tag 'icon-twitter.png'
          = mail_to 'info@gobiernoabierto.gob.sv' do
            = image_tag 'icon-mail.png'
