%nav.navbar.navbar-default
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      = link_to root_url, class: 'navbar-brand' do
        = image_tag 'gobierno-abierto.png'
    / Collect the nav links, forms, and other content for toggling
