/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */

@import url('https://fonts.googleapis.com/css?family=Lato');
@import 'bootstrap-sprockets';
@import 'bootstrap';

$green:  #3c3;
$red:    #c33;
$blue:   #32b1ff;
$white:  #fff;
$cobalt: #204769;
$gray:   #eee;
$dblue:  #0071bd;

.text-red {
  color: $red;
}

.text-green {
  color: $green;
}

body {
  font-family: 'Lato', sans-serif;
}

h1 {
  color: $cobalt;
  margin-bottom: 15px;
  text-align: center;
}

/* Overwrites */
.table > thead > tr > th{
  font-size: 12px;
  vertical-align: middle;
}

.table.table-striped{
  border: none;
}

.no-padding {
  padding: 0 !important;
}

.centered {
  text-align: center;
}

.data {
  width: 80px;
}

td {
  font-size: 12px;
  text-transform: uppercase;

  &.separator {
    background: $gray;
    font-size: 1px;
    padding: 4px !important;
  }
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: .2em 0;
}

.nowrap {
  font-size: 11px;
  white-space: nowrap;
}

.selected {
  background: $blue;
  color: $white;

  a {
    color: inherit;
  }
}

a {
  &.selected,
  &.selected:hover {
    color: $white;
    display: inline-block;
    min-width: 40px;
    padding: .2em .5em;
    position: relative;
    text-decoration: none;

    &::before {
      border-bottom: 8px solid $blue;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      content: ' ';
      height: 0;
      left: 50%;
      position: absolute;
      top: -8px;
      transform: translateX(-50%);
      width: 0;
    }
  }
}

.small {
  font-size: 10px;
}

.navbar-default {
  background: $dblue;
}

.navbar {
  border: 0;
  border-radius: 0;
  height: 90px;

  img {
    height: 60px;
  }
}

footer {
  background: $dblue;
  color: $white;
  font-size: .85em;
  margin: 2em 0 0;
  padding: 2em 0;

  @media screen and (max-width: 768px) {
    text-align: center;
  }

  p {
    padding: 1em 0;
  }

  img {
    display: inline-block;
    max-width: 100%;
  }

  .social {
    text-align: center;

    a {
      display: inline-block;
      margin: .5em 1em .5em .5em;
    }
  }
}
