!!! 5
%html{ lang: "es" }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui' }
    %meta{ name: 'apple-mobile-web-app-capable', content: 'yes' }

    %title= content_for?(:title) ? yield(:title) : "Viajes de presidentes de El Salvador"

    %link{ href: image_path('favicon.png'), sizes: '128x128', rel: 'shortcut icon' }
    %link{ href: image_path('favicon.png'), sizes: '128x128', rel: 'apple-touch-icon' }
    %link{ href: image_path('favicon.png'), sizes: '128x128', rel: 'apple-touch-icon-precomposed' }

    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags

  %body
    = render partial: 'layouts/application/header'
    %main
      = yield
    = render partial: 'layouts/application/footer'
    = render 'layouts/application/analytics'
